@model WebApp.Models.ShoppingCart
@{
    ViewBag.Title = "Checkout";
}
<div class="container">

    <h1>Shopping Cart</h1><hr>
    <table class="table table-striped table-hover table-bordered">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Brand</td>
                    <td>@item.Model</td>
                    <td>@item.Price</td>
                </tr>
            }
        <tr>
            <td>Total Price : 2000</td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-primary">Continue Shopping</a></td>
            <td colspan="3"><a href="#" type="submit" class="pull-right btn btn-success">Checkout</a></td>
        </tr>
        </tbody>
    </table>          
      
</div>

