@model IEnumerable<WebApp.Product>

@{
    ViewBag.Title = "Tree";
}

<h2>Tree</h2>
<table class="table">
    <tr>
       
        <th>
    
        </th>
    </tr>


    <tr>
        <td>
          
        </td>
    </tr>


</table>
